---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro';
import Projects from '../../components/Projects/Projects.astro';
import Experience from '../../components/Experience/Experience.astro';
import Contact from '../../components/Contact.astro';
import Footer from '../../components/Footer.astro';
import Home from '../../components/Home.astro';
---

<Layout title='Portfolio Carolina Palacios'>
  <Header />
  <main class='px-[15%] mobile-sm:mt-[20rem] mobile-md:mt-[8rem] tablet-md:mt-[15rem] lg:mt-[15rem]'>
    <div>
      <Home />
    </div>

    <div id='projects'>
      <Projects />
    </div>
    <div id='experience'>
      <Experience />
    </div>
    <div id='contact'>
      <Contact />
    </div>
    <Footer />
  </main>
</Layout>
