---
import Layout from '../layouts/Layout.astro'
import Header from '../components/Header.astro'
import Projects from '../components/Projects/Projects.astro'
import Experience from '../components/Experience/Experience.astro'
import Contact from '../components/Contact.astro'
import Footer from '../components/Footer.astro'
import Home from '../components/Home.astro'
import Certificates from '../components/Certificates/Certificates.astro'
---

<Layout title='Portfolio Carolina Palacios'>
  <Header />
  <main class='px-[15%] mobile-xs:px-3'>
    <div>
      <Home />
    </div>

    <div id='projects'>
      <Projects />
    </div>
    <div id='experience'>
      <Experience />
    </div>
    <div id='certificates'>
      <Certificates />
    </div>
    <div id='contact'>
      <Contact />
    </div>
    <Footer />
  </main>
</Layout>
