---

---

<section class='flex items-center justify-center flex-wrap h-[50%]'>
  <article class='flex flex-col items-center justify-center w-1/2'>
    <div>
      <h1
        class='flex flex-initial font-extrabold text-6xl self-start ml-4'
      >
        About me
      </h1>
      <p class="text-md text-justify p-4 w-11/12">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque quam hic
        excepturi adipisci nesciunt aliquam a quo iste, deserunt, quia modi atque
        illo nemo omnis possimus sunt dignissimos, accusantium aperiam? Lorem
        ipsum dolor sit amet consectetur adipisicing elit. Ad provident
       
      </p>
    </div>
  </article>
  <div class="items-center w-80">
    <img src="../../assets/Pullrequest.svg" alt="me" class="w-80">
  </div>
</section>
