---

---

<section class='flex flex-col items-center text-center m-10'>
  <article class='flex flex-col items-start justify-center gap-8'>
    <h1
      class='lg:leading-[1.25] sm:leading-[1.25] leading-[1.25] sm:text-6xl text-6xl font-extrabold lg:w-[50%] w-[90%]'
    >
      About me
    </h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque quam hic
      excepturi adipisci nesciunt aliquam a quo iste, deserunt, quia modi atque
      illo nemo omnis possimus sunt dignissimos, accusantium aperiam? Lorem
      ipsum dolor sit amet consectetur adipisicing elit. Ad provident
      perspiciatis iure. Et aliquam sequi cupiditate quisquam nulla
      reprehenderit inventore! Minus illo quasi rem dolores fugit cupiditate
      ipsum in eaque. Lorem ipsum dolor sit amet consectetur, adipisicing elit.
      Odit eveniet quibusdam ipsum provident distinctio dolorem reiciendis
      necessitatibus. Exercitationem, consequatur laudantium praesentium neque
      deserunt placeat ab animi. Libero aliquam provident eius?
    </p>
  </article>
</section>
