---

---

<section class='flex flex-col items-center text-center m-10 bg-blue-500'>
  <h1 class='text-3xl'>Contact me!</h1>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consectetur
    asperiores, libero nam in iusto possimus soluta praesentium vero
    consequuntur!
  </p>
</section>
