---

---

<section class='flex flex-col items-center pt-3 text-center'>
  <h1 class='text-3xl'>Experience</h1>
  <article>Soy Henry</article>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consectetur
    asperiores, libero nam in iusto possimus soluta praesentium vero
    consequuntur!<br /> Eos voluptates debitis eum quos saepe quod corporis
    fugiat minima? Dicta?
  </p>
  <!-- <img src='../../assets/certificado.png' alt='' class='max-w-sm' /> -->
</section>
