---
import { getLangFromUrl, useTranslations } from '../i18n/utils';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<footer class="flex items-center desktop-lg:w-full">
  <div class="flex items-center justify-between py-4 lg:w-full w-[90%] gap-12 my-0 mx-auto border-t-[1px] border-[#50505088]">
    <section>
      <h1 class="text-lg font-extrabold ">Carolina Palacios</h1>
      <p>{t('Footer')}</p>
      <div class='flex gap-3 py-3'>
        <a href='https://astro.build' target='_blank' class=""><img src="https://icon.icepanel.io/Technology/png-shadow-512/Astro.png" alt="Astro"  class="w-8 h-9"/></a>
         <a href='https://www.typescriptlang.org/' target='_blank'><img src="https://icon.icepanel.io/Technology/svg/TypeScript.svg" alt="TypeScript" class="w-8 h-8"/></a>
          <a href='https://reactjs.org/' target='_blank'><img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/react/react-original-wordmark.svg" alt="React" class="w-8 h-8"/></a>
           <a href='https://tailwindcss.com/' target='_blank'><img src="https://icon.icepanel.io/Technology/svg/Tailwind-CSS.svg" alt="Tailwind CSS"class="w-8 h-8"/></a>
      </div>
    </section>
    <section class="text-[#748c74] dark:text-blue-400">
      <a href="/">

        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-code-circle-2" width="60" height="60" viewBox="0 0 24 24" stroke-width="1.75" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
           <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
           <path d="M8.5 13.5l-1.5 -1.5l1.5 -1.5"></path>
           <path d="M15.5 10.5l1.5 1.5l-1.5 1.5"></path>
           <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
           <path d="M13 9.5l-2 5.5"></path>
        </svg>
      </a>
    </section>
  </div>
</footer>
