---

---

<footer class="flex flex-col items-center justify-center">
  <h1>Carolina Palacios</h1>
  <p>This portfolio was developed with:</p>
  <div class='flex gap-3 p-5'>
    <a href='https://astro.build' target='_blank' class=""><img src="https://icon.icepanel.io/Technology/png-shadow-512/Astro.png" alt="Astro"  class="w-8 h-9"/></a>
     <a href='https://www.typescriptlang.org/' target='_blank'><img src="https://icon.icepanel.io/Technology/svg/TypeScript.svg" alt="TypeScript" class="w-8 h-8"/></a>
      <a href='https://reactjs.org/' target='_blank'><img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/react/react-original-wordmark.svg" alt="React" class="w-8 h-8"/></a>
       <a href='https://tailwindcss.com/' target='_blank'><img src="https://icon.icepanel.io/Technology/svg/Tailwind-CSS.svg" alt="Tailwind CSS"class="w-8 h-8"/></a>
  </div>
</footer>
