---

---

<header
  class='py-3 px-10 flex items-center top-0 w-full justify-between z-40 h-8 pt-4 my-0 lg:fixed lg:top-0 lg:backdrop-blur sm:py-8 text-gray-400'
>
  <div>Carolina Palacios</div>
  <nav>
    <ul class='flex gap-4 ml-32'>
      <li><a href='/#projects'>Projects</a></li>
      <li><a href='/#experience'>Experience</a></li>
      <li><a href='/#contact'>Contact</a></li>
      <li><a href='/#about'>About</a></li>
    </ul>
  </nav>
  <nav>
    <ul class='flex gap-4'>
      <li>
        <a
          href='https://www.linkedin.com/in/carolina-palacios-0723b726b/'
          target='_blank'>Linkedin</a
        >
      </li>
      <li>
        <a href='https://github.com/CarolinaPalacios' target='_blank'>Github</a>
      </li>
      <li>Dark/LightMode</li>
    </ul>
  </nav>
</header>
