---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content='Personal Portfolio' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='https://res.cloudinary.com/dr4c4eqnr/image/upload/v1697684518/kwj0glkn0qnwelkxoy94.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
  *::-webkit-scrollbar {
   background: #F5F5F5;
   width: 0.3rem;
  }
  *::-webkit-scrollbar:hover {
   background: #81818160;
  }
  *::-webkit-scrollbar-thumb {
   background: #3030307c;
   border-radius: 0.5rem;
  }
  *::-webkit-scrollbar-thumb:hover {
   background: #808080;
  }

  html.dark *::-webkit-scrollbar {
   background: #3030304d;
   width: 0.2rem;
  }
 html.dark  *::-webkit-scrollbar:hover {
   background: #303030;
  }
  html.dark *::-webkit-scrollbar-thumb {
   background: #303030;
   border-radius: 0.5rem;
  }
  html.dark *::-webkit-scrollbar-thumb:hover {
   background: #ffffff;
  }

  html {
    font-family: system-ui, sans-serif;
    background:  #F5F5F5;
    background-size: 224px;
    color: rgb(0, 0, 0);
  }

  html.dark {
    background-color:  #303030;
    color: #fff;
  }

  .dark .nav-links a {
    color: #fff;
  }

  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
</style>
